.button {
    -fx-background-color: "whitesmoke";
    -fx-text-fill: "midnight";
    -fx-border-color: "steelblue";
}

.button:hover {
    -fx-background-color: "blue";
    -fx-text-fill: "white";
}

.menu-bar {
    -fx-border-color: "steelblue";
}

.tab-pane {
    -fx-background-color: "cornflowerblue";
}


.tube-pane {
    -fx-border-color: "black";
}

.combo-box {
    -fx-background-color: "whitesmoke";
    -fx-text-fill: "black";
    -fx-border-color: "steelblue";
}

.label {
    -fx-text-fill: "midnightblue";
}

